*
!README.md
!LICENSE
!signalbackup-viewer.pro
!signalbackup-viewer.qrc
!*.cc
!*.h
!*.ih
!*/
!*/*.cc
!*/*.h
!*/*.ih
!shared/*/*.cc
!shared/*/*.h
!shared/*/*.ih
!resources/*
!.github/*
!.github/workflows/*.yml
!.gitignore
moc_*
